body{
  margin: 0;
}

.navbar{
  width: 100vw;
  background-color: #D6EFFF;
}

.navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar .navli{
  style-type: none;

  /*when I specify 2 values to margin, the first one is for the top and bottom side, the second for the left and right side*/
  margin: 0 2vw;
}

.navbar a{
  text-decoration: none;
  /*below I changed the color*/
  color: black;
  /*I added some padding*/
  padding: 2vw;
  /*also changed the font family but that's totally irrelevant*/
  font-family: monospace;
}

.navbar .nabbut{
  display: none;
}

/*change the layout of the navigation bar for all the screens
that have a width less or equal than 500px*/

@media only screen and (max-width: 1020px) {
  /*shows elements in a column*/
  .navbar ul{
    flex-direction: column;
  }

  /* deletes margin on top or bottom of the a tag*/
  .navbar .navli{
    margin: 0;
    display: none;
  }
 /* makes sure that the a tag will take the entire screen*/
  .navbar a{
    display: block;
  }

  .navbar .nabbut{
    /*makes the .nabbut visible*/
    display: block;

    /*since we are here, we can style it a .navlittle bit!*/
    padding: 2vw;
    font-size: 3vh;
    background-color: #AFE0FF;
    border: none;

    /*out.navline none removes the default blue border that appears anytime you c.navlick on the .nabbut*/
    outline: none;

    cursor: pointer;
    /*this put the .nabbut on the left*/
    align-self: flex-start;
  }
}
